<h1>Welcome to my Blog App </h1>
<h2> List of name</h2>
<section class='section-main'>
  <% @users.each do |user| %>
    <div class='general-container'>
        <div class='container-users-photo'>
          <img src="<%= user.photo%>"/>
        </div>
        <div class='container-users'>
          <h2 class='user-name'> <%= link_to user_path(user) do%> <%= user.name %><%end%></h2>
          <span class='number-post'>Number of posts: <%=user.posts.count%></span>
        </div>
    </div>
  <% end %>
  <div>
    <%=link_to user_session_path do%>
    <button class='login'>Login</button>
    <% end %>
  </div>
  <div>
    <%=link_to new_user_registration_path do%>
    <button class='sign-up'>Sign Up</button>
    <% end %>
  </div>
</section>
