<h1>Here is a list of posts for a given post</h1>
<section>
  <div>
    <div>
      <h3>Post #<%=@post.id%> by <%=@post.author.name%></h3>
    </div>
    <div>
      <span>Comments: <%=@post.comments_counter%> Likes: <%=@post.likes_counter%></span>
      <p><%=@post.text%></p>
    </div>
  </div>
  <div>
      <%@post.comments.each do |comment|%>
      <p><%=comment.author.name%>: <%=comment.text%></p>
    <%end%>
  </div>
</section>